@use '../abstract/variables' as v;
// @use '../abstract/mixins' as m;

.poster {
    padding: 2rem;
    .title {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: v.$title-color;
    }
    .desc {
        color: v.$desc-color;
    }
}