.btn {
    padding: 1rem 1.5rem;
    border: none;
    display: inline-flex;
    border-radius: .2rem;
    &.btn-primary {
        background-color: darkblue;
        color: white;
    }
    &.btn-danger {
        background-color: red;
        color: white;
    }
    &.btn-dark {
        background-color: black;
        color: white;
    }
}