@use '../styles/abstract/variables' as v;
@use '../styles/abstract/mixins' as m;
.btn {
    @include m.btn();
    &.btn-primary {
        @include m.theme();
    }
    &.btn-danger {
        background-color: red;
        color: white;
    }
    &.btn-dark {
        background-color: black;
        color: white;
    }
    &.btn-curved {
        @include m.btn(5rem);
    }
    &.btn-md {
        @include m.btn(5rem);
    }
    &.btn-lg {
        @include m.btn(5rem, 5rem);
    }
}